CompileFlags:
  Add: [
    -DSTATIC_ARENA_IMPLEMENTATION,
    -DSTRING_VIEW_IMPLEMENTATION,
    -DDYNAMIC_ARENA_IMPLEMENTATION,
  ]

Diagnostics:
  ClangTidy:
    Remove: [misc-definitions-in-headers]
